<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" width="viewport-width initial-scale=1.0">
        <title>Message Detail</title>
    </head>
    <body>
        <div class="message-detail">
            <div class="message-text"><%= message.text %></div>
            <div class="user-name"><%= message.user %></div>
            <div class="date"><%= message.added %></div>
        </div>
    </body>
</html>