<li>
    <div class="message-brief">
        <div class="message-text"><%= message.text %></div>
        <div class="user-name"><%= message.user %></div>
    </div>
    <a href="/message/<%= message.id %>">Details</a>
</li>
